/*
!.gitignore
!.travis.yml
!build.gradle
!build.gradle.kts
!detekt-config-documentation.yml
!gh-pages-report.sh
!/lib
!/lib2
!/sample
!LICENSE
!README.md
!settings.gradle
!telegram-send-message.sh
!util.gradle.kts
